//============================================================
// Font
//============================================================

p()
	font-family: body-font
	color: text-color
	line-height: textlh
	

//============================================================
// Wrappers
//============================================================

div-wrapper(value)
	max-width: value
	width: 100%
	margin-left: auto
	margin-right: auto
	position: relative
	// padding-left: 2rem
	// padding-right: 2rem
		
	@media screen and ( max-width: (value+50)px )
		padding-left: 2rem
		padding-right: 2rem
	
	@media mobile
		max-width: 492px
		width: 100%
		min-width: 320px

absolute-full()
	position absolute
	top 0
	left 0
	width 100%
	height 100%	