//============================================================
// Global Variables
//============================================================

body-font = 'Helvetica','Arial', sans-serif
text-color = lighten(black,10%)
textlh = 1.9

title-font = 'Helvetica', Arial, sans-serif;
title-fontlight = 'Helvetica',Arial, sans-serif;

//============================================================
// Media Queries
//============================================================

hd-layout 		= 1180px;
desktop-layout 	= 960px;
tablet-layout 	= 561px;
mobile-layout 	= 560px;

bigdesktop 		= 'all and (min-width: '+rem(hd-layout)+') not print'
nonbigdesktop 	= 'all and (max-width: '+rem(hd-layout - 1px )+') not print'

desktop 	= 'screen and (min-width: '+rem(desktop-layout)+')'
nondesktop 	= 'screen and (max-width: '+rem(desktop-layout - 1px) +')'

tablet 		= 'screen and (min-width: '+rem(tablet-layout)+') and (max-width:'+rem(desktop-layout - 1px)+')'

mobile 		= 'screen and (max-width: '+rem(mobile-layout)+')'
nonmobile 	= 'screen and (min-width: '+rem(tablet-layout)+')'